body {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.content {
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 160px;
  width: 100vw;
}

.barcode {
  max-width: 400px;
  width: 100vw;
}

table {
  border: 1px solid black;
  border-color: black;
  width: 100vw;
}

.table-left {
  max-width: 500px;
  border: 1px solid black;
  border-color: black;
}

.table-right {
  max-width: 300px;
}

th {
  border: 1px solid black;
}
